<h1>Editing Movie</h1>

<%= render 'form', movie: @movie %>

<div class="ui buttons">
  <%= link_to 'Back', movies_path, class: 'ui button' %>
  <div class="or"></div>
  <%= link_to 'Show', @movie, class: 'ui button teal' %>
</div>